<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Characters" value="_.,-=+:;cba!?0123456789$W#@Ñ"/> 
         <add key="InstallationPath" value=""/>
        <add key="HTMLoutputDestination" value="output.html"/>
        <add key="TXToutputDestination" value="output.txt"/>
        <add key="MP4outputDestination" value ="output.mp4"/>
        <add key="PNGoutputDestination" value ="output.png"/>
         <add key="LastDownloadedYoutubeVideo" value="" />
    </appSettings>
</configuration>
